
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a{
    color:#ffffff;
}
.bodyCover{
    display:grid;
    grid-template-rows:auto auto 100px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
    width:100%;
}

img{
    max-width:100%;
    width: 100%;
    height:100%;
    position: center;
    object-fit: cover;
   
}
html{
    width:100%;}

body{
 width:100%;
max-width: 1800px;
    
}
.headerFirst{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
     font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
header{
    grid-area:header;
    display: flex;
    position: sticky;
    top:0;
    width: 100%;
    height:90px;
   align-items: center;
   background-color: #43280d;
   color: #f2eee9;
 

}

.eikona{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 600px;
    background-image: url("allphotosdesk/εικόνα_Viber_2025-12-18_15-49-20-610.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:  #170c00;
    gap: 25px;
    justify-content: center;
    
   
}
.middle{
    border-top: #f2eee9 10px solid;
    width:80px;
    height: 0.5px;
}
.keimeno{
 
    text-align: center;
    padding: 4px;
    width:490px;
    font-size: 1.4rem;
     color:  #170c00;
     font-family: "Tangerine", cursive;
  font-weight: 900;
  font-style: normal;
  font-size: 2.7rem;
}

main{
    grid-area:main;
    background-color:  #f2eee9;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   gap: 30px;
     
}
main h1{
    
  color:  #170c00;  
 
}
.story{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.keimenoStory{
    width:80%;
    display: flex;
  flex-direction: column;
   text-align: center;
   justify-content: center;
   gap: 30px;
     color:  #4b2c0b; 

   
}
.keimenoStory h2{
font-size: 3rem;
}
h2{
  font-family: "Tangerine", cursive;
  font-weight: 900;
  font-style: normal;
  
}



.secondpart{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.eikonasecond{
width: 40%;
margin-left: 5px;
}
.secondpartKeimeno{
    width: 50%;
    text-align: center;
    padding: 4px;
    font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color:  #6f4211; 

}
.photoTime{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  
}
.piata{
   color:  #4b2c0b; 
   font-size: 3.2rem;
}

.photo{
  width: 25%;
  height: 320px;
}
.headerFirst h2{
   font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 2.2rem;
}
.secondpara{
  width:100%;
  height: 300px;
  background-image: url("allphotosdesk/εικόνα_Viber_2025-12-19_14-24-37-172.jpg");
  background-attachment: fixed;
  background-position: center;
}
.andio{
 display: flex;
 justify-content: space-evenly;
}
.info{
  color:  #4b2c0b; 
  width: 18%;
  text-align: center;
}
footer{
  margin-top: 50px;
 
  background-color:  #43280d; 
    grid-area:footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
@media(max-width:750px){
    
.eikona{
  
    background-attachment: scroll;
  
    
   
}
    .secondpara{
background-attachment:scroll;
    }
 .keimenoStory h4{
font-size:1rem;
font-style:italic;
 }
    .photoTime{
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  gap: 10px;
  
}
    .photo{
  width: 100%;

}
    .eikonasecond{
width: 60%;
margin-left: 5px;
}
    .piata{
   color:  #4b2c0b; 
   font-size: 1.8rem;
        text-align:center;
}
    .secondpartKeimeno{
    width: 30%;
    text-align: center;
    padding: 4px;
    font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color:  #6f4211; 
 font-size:0.7rem;
}
    
.eikona{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 300px;
    background-image: url("allphotosdesk/εικόνα_Viber_2025-12-18_15-49-20-610.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:  #170c00;
    gap: 25px;
    justify-content: center;
    
   
}

}























